<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	

	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="/css/main.css">

	<title>Anime Library</title>
</head>
<body>
	<!-- Image and text -->
	

	<header class="section vh-100" id="section1">
            
            <nav class="navbar navbar-dark  vh-25">
			  <div class="container-fluid py-3">
			    <a class="navbar-brand px-2" href="/">
			      <img src="images/Logo4.svg" style="height:75px">
			    </a>
			    <a class="btn btn-outline-light rounded-pill btn-lg " href="#">
			    	<i class="fa fa-github"></i>
			    	Github
			    </a>
			  </div>
			</nav>
                   

            <!-- First Section/Landing Page -->
            <div class="jumbotron h-75 m-0 text-white text-center p-2 d-flex align-items-center bg-transparent" id="landingpage">
                <div class="container-fluid w-100">
                	<h1 class="display-2 mb-4 "> Anime Library!</h1>
	                <form method="POST" action="/shelf" autocomplete="off">
	                    <div class="container">
		                    	<div class="form-group h2">
									<input required 
									type="input" 
									name="userName" 
									id="userName" 
									placeholder="Username" 
									class="text-center form-control rounded rounded-pill p-4 shadow-sm text-dark">
								</div>
	                    </div>
	                    <div class="container my-3 p-2">
	                    	<button class="btn btn-outline-success btn-lg m-2 rounded-pill" name="mainButton" value="view" type="submit">
		                        View Shelf &#11187
		                    </button>
	                    	<button class="btn btn-outline-primary btn-lg m-2 rounded-pill" name="mainButton" value="download" type="submit">
	                         Download &#11191
		                    </button>
	                    </div>
	                </form>
                </div>
            </div>
        </header>





	<!-- Bootstrap Bundle -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>