body
{
	/*font-color: #FFFFFF !important;*/
	background-color: #212121 !important;
}

#userName
{
	font-size: 170%;
	padding: 0 !important;
	outline: none;
	border: 2px solid #212121;
	background-color: #292b2c;
	color: white !important;
	box-shadow: 0 50px 10px 20px black;
}


/* Every other browser placeholder color*/
#userName::placeholder { 
  color: white;
  opacity: 0.2; 
}


/* Microsoft Edge placeholder color*/
#userName::-ms-input-placeholder { 
  color: white;
}


